@media screen and (max-width:900px) {
   
    .home{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .home span{font-size: 40px;font-weight: 400;

    }
    .home h1{font-size: 40px;font-weight: 200;}
    .aboutimg{width: 95%;left: 20px;}
    .media{margin-bottom: 80px;}
}